@tailwind base;

:root{
    /* LIGHT THEME ================================================ */
    --main_background_color: #fff;
    --main_text_color: #000;
    --main_border_color: #c4c4c4;
    --main_box_shadow: 0px 20px 20px -15px rgba(0,0,0,.2);
    --placeholder_color: #a3b1c2;

    --default_button_color: #f5f5f5;
    --secondary_button_color: #3d3d3d;

    --dark_blue: #0091a5;
    --light_blue: #ccf9ff;

    --dark_red: #da6555;
    --light_red: #ffc4bc;

    --dark_green: #a0d66e;
    --light_green: #e5ffcc;

    --dark_yellow: #ece17e;
    --light_yellow: #fffacc;
    /* LIGHT THEME END ================================================ */
}

@media (prefers-color-scheme: dark) { 
    :root{
        /* --main_background_color: #353535;
        --main_text_color: #fff;
        --main_border_color: #5c5c5c;
        --main_box_shadow: 0px 20px 20px -15px rgba(0,0,0,.7);
        --placeholder_color: #a3b1c2;

        --default_button_color: #5f5f5f;
        --secondary_button_color: #d3d3d3;

        --dark_blue: #ccf9ff;
        --light_blue: #0091a5;

        --dark_red: #ffc4bc;
        --light_red: #da6555;

        --dark_green: #e5ffcc;
        --light_green: #a0d66e;

        --dark_yellow: #fffacc;
        --light_yellow: #ece17e; */
    }
}

@font-face{ font-family: "Vazir"; src: url('../fonts/Vazir.ttf') format('truetype'); }
@font-face{ font-family: "Roboto"; src: url('../fonts/Roboto-Regular.ttf') format('truetype'); }
@font-face{ font-family: "Times"; src: url('../fonts/Times-New-Roman.ttf') format('truetype'); }

html{
    font-family: 'Vazir','Times';
    outline: 0; color: var(--main_text_color); background-color: var(--main_background_color);
}
input,textarea,button,select,body{ outline: 0 !important; letter-spacing: 1px; }
body{
    height: 100vh;
}
a{
    border-bottom: 2px solid var(--main_border_color);
}

.Vazir{ font-family: 'Vazir'; }
.Roboto{ font-family: 'Roboto'; }
.Times{ font-family: 'Times'; }

#app{
    /* min-height: 100%; */
}
.main_body{
    display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
    padding: 0 2rem; scroll-behavior: smooth;
    background-color: var(--main_background_color);
}
.main_body .main_content{
    /* position: relative; */
    width: 100%;
}
.main_body .main_content > div{
    display: flex; flex-direction: column;
}

hr{
    width: 100%; border: 0;
    border-bottom: 2px solid var(--main_border_color);
}

.btn{
    cursor: pointer; transition: all .3s; box-shadow: 0px 0px 0px white;
    border-bottom: 0;
}
.btn:hover{ box-shadow: var(--main_box_shadow); }

input{
    border: 2px solid var(--main_text_color);
    background-color: var(--main_background_color);
    display: block; width: 100%;
    padding: .5rem; margin-bottom: 1rem;
}
input:invalid{ border: 2px solid red; }

/* Header ============================================ */
.header{
    display: flex; flex-direction: row; justify-content: center; align-items: center;
    width: 100%; height: 100px; padding: 3.5rem 0;
    position: relative;
    border-bottom: 2px solid var(--main_border_color);
}

.header .left_side{
    margin-left: 0; margin-right: auto;
}
.header .left_side .date{
    display: flex; flex-direction: row; justify-content: center; align-items: center;
}
.header .left_side .date span{
    display: flex; flex-direction: column; justify-content: left; align-items: left;
}
.header .left_side .date span:nth-child(2){
    margin-top: -5px;
}
.header .left_side .date b{
    font-weight: normal;
}
.header .left_side .date span:nth-child(2) b{ height: 20px; }
.header .left_side .date .day_number{
    font-size: 4rem;
}
.header .left_side .date .day_name{}
.header .left_side .date .month{}
.header .left_side .date .year{}

.header .logo{
    position: absolute; display: none;
}
.header .logo h2{
    font-size: 3rem; font-weight: bold;
    margin: auto; border: 2px solid var(--main_border_color);
    border-left: 0; border-right: 0;
}

.header .theme_switch{
    display: none; justify-content: center; align-items: center;
    position: absolute; right: calc(50% - 190px);
    width: 2rem; height: 2rem;
    background-color: var(--secondary_button_color);
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px var(--main_border_color);
    border-radius: 50%;
}
.header .theme_switch i{
    color: var(--main_border_color);
}

.header .right_side{
    margin-left: auto; margin-right: 0;
}
.header .right_side a{}

.header .right_side .user{
    display: flex; justify-content: center; align-items: center;
}
.header .right_side .user img{
    width: 3rem; height: 3rem; border-radius: 50%; object-fit: cover;
    margin-left: .5rem;
}
.header .right_side .user span{
    display: inline-block;
}
/* Header End ============================================ */

/* Footer ============================================ */
.footer{}
/* Footer End ============================================ */

/* Login ============================================ */
.login{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    padding: 1.5rem; margin: auto;
    width: 100%; max-width: 400px; border: 2px solid var(--default_button_color);
}

.login h1{
    font-size: 2.5rem; width: 100%;
    margin-bottom: 1.5rem;
}
.login button{
    width: 100%; padding: .5rem; font-weight: bold;
    display: flex; justify-content: center; align-items: center;
    background-color: var(--default_button_color);
}
.login button img{ width: 20px; margin: 0 .5rem; }

.login .spacer{
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; margin: 1.5rem 0;
}
.login .spacer::after,.login .spacer::before{
    content: ""; display: inline-block; opacity: .5;
    width: 40%; height: 2px; background-color: var(--main_border_color);
}

.login form{
    width: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.login form input{}
.login form button{
    background-color: var(--light_blue);
}
/* Login End ============================================ */

/* TopMenu End ============================================ */
.top_menu{
    width: 100%; min-height: 70px; margin-bottom: 1rem;
    display: flex; justify-content: center; align-items: center;
    border-bottom: 2px solid var(--main_border_color);
}
.top_menu ul{
    width: 100%; margin: 1rem 0;
    display: flex; justify-content: space-evenly; align-items: center;
}
.top_menu ul li{}
.top_menu ul li a{
    display: inline-block; border: 0;
}
.top_menu ul li[selected] a{ border: 2px solid var(--main_border_color); border-left: 0; border-right: 0; }
.top_menu ul li span{
    display: inline-block; margin: 2px 0; padding: .25rem 1rem; font-size: 1.25rem;
}
.top_menu ul li[selected] span{ background-color: var(--light_blue); box-shadow: var(--main_box_shadow); }

.top_menu ul li button{ margin: 0 .5rem; }
.top_menu ul li i{ font-size: 1.25rem; color: var(--light_blue); -webkit-text-stroke: 1px var(--main_text_color); }
.top_menu ul li button[title="Logout"] i{ color: var(--light_red); }
/* TopMenu End ============================================ */

/* Forms Input ============================================ */
.loading{}
.loading button{
    padding: .5rem 2rem; background-color: var(--secondary_button_color); color: var(--main_background_color);
}

.search{
    display: flex; justify-content: center; align-items: center;
    background-color: var(--default_button_color);
    width: 2.5rem; transition: all .3s;
}
.search input{
    margin: 0; height: 2.5rem; transform-origin: left;
    width: 0; padding: 0; position: absolute;
    transform: scaleX(0); transition: position .3s, transform .3s;
}
.search.open{ width: auto; }
.search.open input{
    position: relative; width: 100%; padding: .5rem;
    transform: scaleX(1);
}
.search i{
    display: flex; justify-content: center; align-items: center;
    width: 2.5rem; height: 2.5rem; padding: 1rem; cursor: pointer;
}

.dialog{
    position: fixed; z-index: 100;
    top: 0; bottom: 0; right: 0; left: 0;
    display: flex; justify-content: center; align-items: center;
}
.dialog.hidden{ display: none; }
.dialog .dialog_box{
    position: relative; background-color: var(--main_background_color);
    box-shadow: var(--main_box_shadow);
    width: 100%; max-width: 480px; min-height: 10vh; z-index: 2; padding: 0 1rem;
    display: flex; flex-direction: column;
}
.dialog .dialog_box .header{
    width: 100%; height: auto; padding: 1rem 0;
    display: flex; justify-content: space-between; align-items: center;
    border-bottom: 2px solid var(--main_border_color);
}
.dialog .dialog_box .header h3{
    font-size: 1.25rem; font-weight: bold;
    border: 2px solid var(--main_border_color); border-left: 0; border-right: 0;
}
.dialog .dialog_box .header button{
    width: 2rem; height: 2rem;
    display: flex; justify-content: center; align-items: center;
    background-color: var(--main_background_color); border: 2px solid var(--dark_red);
}
.dialog .dialog_box .header button i{}
.dialog .dialog_box > .form{
    padding: 1rem;
}
.dialog .overlay{
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,.5);
}
.dialog input{ margin: 1rem 0; }

.input_box{
    position: relative; width: 100%; margin: 1rem 0;
}
.input_box input{ margin: 0; }
.input_box span[name="placeholder"]{
    display: inline-block; position: absolute; color: var(--placeholder_color); transition: all .3s;
    top: .6rem; left: .65rem;
}
.input_box span[name="placeholder"].up{
    color: var(--main_text_color); background-color: var(--main_background_color);
    top: -.9rem; left: .25rem; padding: 0 .25rem;
}

.select_box{
    width: 100%;
    position: relative; margin: 1rem 0;
    display: flex; justify-content: space-between; align-items: center;
    border: 2px solid var(--main_text_color);
    padding: .5rem;
}
.select_box.z{ z-index: 5; }
.select_box .box{
    min-height: 1.5rem; min-width: 3rem;
}
.select_box > i{ margin-inline-start: 1rem; }
.select_box .box span[name="placeholder"]{
    display: inline-block; position: absolute; color: var(--placeholder_color); transition: all .3s;
}
.select_box .box span[name="placeholder"].up{
    color: var(--main_text_color); background-color: var(--main_background_color);
    top: -.9rem; left: .25rem; padding: 0 .25rem;
}
.select_box .list{
    position: absolute; top: 2.5rem; right: -2px; left: -2px; background-color: var(--main_background_color);
    border: 2px solid var(--main_text_color); max-height: 200px; overflow: auto;
    width: max-content; min-width: 100%;
}
.select_box .list li{ padding: .5rem; cursor: pointer; }
.select_box .list li:hover{ background-color: var(--default_button_color); }

.select_box .list div[name="search"]{
    position: sticky; top: 0;
}
.select_box .list div[name="search"] input{
    border: 0; border-bottom: 2px solid var(--main_border_color); margin: 0;
}

.multi_select_box .box > div{
    display: flex; flex-wrap: wrap; gap: .5rem;
}
.multi_select_box .box > div span{
    background-color: var(--default_button_color); color: var(--main_text_color);
    padding: .25rem .5rem;
}
.multi_select_box .box > div span b{
    margin-inline-end: .25rem; color: var(--dark_red);
}

.date_range_picker{}
.date_range_picker label{
    width: 85px;
}
.date_range_picker input{
    width: 100px; border: 0; margin: .5rem 0;
    border-top: 2px solid var(--main_border_color);
    border-bottom: 2px solid var(--main_border_color);
}
.date_range_picker .list button{
    width: 100%; text-align: center; padding: .25rem 1rem;
    color: var(--main_background_color);
    background-color: var(--secondary_button_color);
}

.input_group{
    display: flex; justify-content: flex-start; align-items: center; gap: 1rem;
}

.error{
    width: 100%; text-align: center;
}

.data_table{
    width: 100%;
}
.data_table .toolbar{
    width: 100%; display: flex; justify-content: flex-start; align-items: center; margin-bottom: 1rem;
}
.data_table .toolbar button{
    margin-inline-start: auto; background-color: var(--light_green);
    padding: .5rem 1rem; font-weight: bold; transition: all .3s;
}
.data_table .toolbar button:hover{ background-color: var(--dark_green); }

.data_table table{
    width: 100%;
}
.data_table table thead{
    border: 2px solid var(--main_border_color); border-left: 0; border-right: 0;
}
.data_table table thead tr{}
.data_table table thead tr th{
    text-align: start; padding: .25rem 1rem;
}
.data_table table thead tr th span{}
.data_table table thead tr th i{}
.data_table table tbody{}
.data_table table tbody tr{}
.data_table table tbody tr:hover{ background-color: var(--default_button_color); }
.data_table table tbody tr td{
    padding: 1rem;
}
.data_table table tbody tr td[name="date"]{
    direction: rtl; text-align: left;
}
.data_table table tbody tr td .avatar{
    border-radius: 50%; width: 2.5rem; height: 2.5rem; margin-inline-end: 1rem;
}
.data_table table tbody tr .actions{
    position: relative;
}
.data_table table tbody tr .actions > i{
    cursor: pointer; width: 1.5rem; height: 1.5rem;
    display: flex; justify-content: center; align-items: center;
}
.data_table table tbody tr .actions > i:hover{ background-color: var(--main_border_color); }
.data_table table tbody tr .actions ul{
    display: none; flex-direction: column; justify-content: flex-start; align-items: flex-start;
    border: 1px solid var(--main_border_color); z-index: 5;
    padding: .5rem; margin: .5rem; right: 75%; top: 1.5rem;
    position: absolute; background-color: var(--main_background_color);
    box-shadow: var(--main_box_shadow);
}
.data_table table tbody tr .actions ul[open]{ display: flex; }
.data_table table tbody tr .actions li{ width: 100%; }
.data_table table tbody tr .actions li button{
    display: flex; justify-content: flex-start; align-items: center;
    padding: .5rem; width: 100%;
}
.data_table table tbody tr .actions li button:hover{
    background-color: var(--default_button_color);
}
/* Forms Input End ============================================ */

/* Dashboard ============================================ */
.dashboard{
    width: 100%;
    display: grid; grid-gap: 1rem;
    grid-template-areas:
        'chart chart chart chart chart chart'
        'card card card card card right'
        'transaction transaction transaction group group right';
}
.dashboard div[name="ad"]{
    display: flex; justify-content: center; align-items: center; font-size: 3rem;
    margin: 1rem 0;
    background-color: var(--light_blue); color: var(--dark_blue);
}
.dashboard div[name="subscription"]{}
.dashboard div[name="subscription"] h3{
    font-size: 1.5rem;
}
.dashboard div[name="subscription"] input{}
.dashboard div[name="subscription"] button{
    background-color: var(--secondary_button_color); color: var(--main_background_color);
    width: 100%; padding: .5rem;
}

.dashboard .box{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    border: 1px solid var(--main_border_color); padding: 1rem;
}
/* Dashboard End ============================================ */

/* DashboardChart ============================================ */
.dashboard_chart{
    width: 100%; min-height: 600px;
    grid-area: chart;
}
/* DashboardChart End ============================================ */

/* DashboardCards ============================================ */
.dashboard_cards{
    width: 100%; min-height: 300px;
    grid-area: card;
}
/* DashboardCards End ============================================ */

/* DashboardFriends ============================================ */
.dashboard_friends{
    width: 100%; height: calc(100% - 240px);
    grid-area: friend;
}
/* DashboardFriends End ============================================ */

/* DashboardTransactions ============================================ */
.dashboard_transactions{
    width: 100%; min-height: 400px;
    grid-area: transaction;
}
/* DashboardTransactions End ============================================ */

/* DashboardGroups ============================================ */
.dashboard_groups{
    width: 100%; min-height: 400px;
    grid-area: group;
}
/* DashboardGroups End ============================================ */

/* Transactions ============================================ */
.transactions{
    width: 100%; display: flex; justify-content: flex-start; align-items: flex-start;
}

.transactions .transaction_table table tbody tr td[type="+"] span{ color: var(--dark_blue); }
.transactions .transaction_table table tbody tr td[type="-"] span{ color: var(--dark_red); }
.transactions .transaction_table table tbody tr td .avatar{
    border-radius: 50%; width: 2.5rem; height: 2.5rem; margin-inline-end: 1rem;
}

.transactions .transaction_info{
    margin-inline-end: 1rem; min-width: 230px;
}
.transactions .transaction_info .total{
    border: 2px solid var(--main_border_color); border-left: 0; border-right: 0;
    padding: 1rem 0;
}
.transactions .transaction_info .total h4{
    font-weight: bold; font-size: 1rem;
}
.transactions .transaction_info .total > b{
    width: 100%; display: flex; justify-content: center; align-items: center;
    background-color: var(--main_text_color); color: var(--main_background_color);
    font-size: 1.5rem; margin: 1rem 0;
}
.transactions .transaction_info .total span{ display: block; }
.transactions .transaction_info .total span[type="+"] b{ color: var(--dark_blue); }
.transactions .transaction_info .total span[type="-"] b{ color: var(--dark_red); }
.transactions .transaction_info .top{
    margin: 1rem 0; padding: .5rem; border: .5rem solid var(--main_background_color);
    box-shadow: 0px 0px 0px 2px var(--main_border_color);
    position: relative; overflow: hidden;
}
.transactions .transaction_info .top::before{
    content: ''; position: absolute; width: 150%; height: 150%; top: -60%;
}
.transactions .transaction_info .top[type="+"]::before{
    background-color: var(--light_blue); transform: rotate(45deg); left: -68%;
}
.transactions .transaction_info .top[type="-"]::before{
    background-color: var(--light_red); transform: rotate(-45deg); left: 18%;
}
.transactions .transaction_info .top h4{
    position: relative; font-weight: bold;
}
.transactions .transaction_info .top > span{
    position: relative; font-size: .8rem; opacity: .8;
}
.transactions .transaction_info .top b{
    position: relative; display: flex; justify-content: center; align-items: center;
    font-size: 1.7rem; margin: 1.25rem 0;
}
.transactions .transaction_info .top[type="+"] b{ color: var(--dark_blue); }
.transactions .transaction_info .top[type="-"] b{ color: var(--dark_red); }
.transactions .transaction_info .top .avatar{
    position: relative; display: flex; justify-content: center; align-items: center;
}
.transactions .transaction_info .top .avatar img{
    width: 2rem; height: 2rem; border-radius: 50%; margin-inline-end: .5rem;
}
.transactions .transaction_info .top .avatar span{}

.transaction_create{}
.transaction_create button,.transaction_edit button{
    font-weight: bold; margin: 1rem 0; color: var(--main_text_color);
    background-color: var(--light_green); padding: .5rem 1rem; transition: all .3s;
}
.transaction_create button:hover{ background-color: var(--dark_green); }
.transaction_edit button{
    background-color: var(--light_blue);
}
.transaction_edit button:hover{ background-color: var(--dark_blue); }
.transaction_delete button.delete{ background-color: var(--dark_red); }
.transaction_delete button.delete:hover{ background-color: var(--light_red); }
/* Transactions End ============================================ */

/* Friends ============================================ */
.friends{
    width: 100%; display: flex; justify-content: flex-start; align-items: flex-start;
}

.friends .friend_info{
    display: flex; justify-content: center; align-items: center;
    gap: 1rem;
}
.friends .friend_info > div{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    padding: .75rem 2rem; box-shadow: var(--main_box_shadow);
    background-color: var(--main_text_color); color: var(--main_background_color);
}
.friends .friend_info > div h3{ font-size: 2.5rem; font-weight: bold; }
.friends .friend_info > div b{ font-size: 1.5rem; }
.friends .friend_info > div[name="friends"] h3{ color: var(--light_blue); }
.friends .friend_info > div[name="pending"] h3{ color: var(--light_yellow); }

.friends_table{}
.friends_table table tbody tr td .avatar{
    width: 4rem; height: 4rem;
}
.friends_table button{ padding: .25rem 1rem; min-width: 160px; }
.friends_table button.remove{ border: 2px solid var(--dark_red); }
.friends_table button.cancel{ background-color: var(--light_yellow); }
.friends_table button.cancel:hover,.friends_table button.remove:hover{
    background-color: var(--light_red); border: 0;
}

.find_new_friends{
    width: 100%;
}
.find_new_friends .search_button{
    background-color: var(--default_button_color); width: 3.5rem; height: 2.75rem;
}
.find_new_friends .users_list .avatar{
    width: 3.5rem; height: 3.5rem;
}
.find_new_friends .users_list .btn{
    padding: .5rem 1rem; background-color: var(--secondary_button_color); color: var(--dark_green);
}

.friendship_cancel button.cancel{ background-color: var(--dark_red); }

.friend_requests button{ padding: .25rem 1rem; margin: .5rem; }
.friend_requests .accept{
    background-color: var(--secondary_button_color); color: var(--dark_green);
}
.friend_requests .reject{ border: 2px solid var(--dark_red); }
/* Friends End ============================================ */

/* Cards ============================================ */
.cards{
    width: 100%; display: flex; justify-content: center; align-items: flex-start;
}

.cards .cards_table{
    max-width: 1024px;
}
.cards .cards_table table{
    display: block;
}
.cards .cards_table tbody{
    display: grid; grid-template-columns: repeat( auto-fit, minmax(322px, 1fr) );
    gap: 2rem; padding: 2rem;
}
.cards .cards_table tr{
    position: relative; padding: 1rem; color: #000;
    display: flex; flex-direction: column; justify-self: center;
    width: 322px; height: 184px; border-radius: 10px;
    box-shadow: var(--main_box_shadow);
}
.cards .cards_table td{
    display: block; padding: 0;
}
.cards .cards_table td[name="number"]{
    font-size: 27px; letter-spacing: 0; word-spacing: 8px;
}
.cards .cards_table td.actions{
    position: absolute; right: 0; bottom: 0; padding: 1rem;
    color: var(--main_text_color);
}
.cards .cards_table td.actions > i{
    background-color: var(--main_background_color); box-shadow: var(--main_box_shadow);
}

.card_style1,.card_style2,.card_style3,.card_style4{ background-repeat: no-repeat; }
.card_style1{ background-image: url('../assets/card1.png'); }
.card_style2{ background-image: url('../assets/card2.png'); }
.card_style3{ background-image: url('../assets/card3.png'); }
.card_style4{ background-image: url('../assets/card4.png'); }

.card_create button{
    background-color: var(--light_green);
    color: var(--main_text_color); font-weight: bold; transition: all .3s;
}
.card_create button:hover{ background-color: var(--dark_green); }
.card_delete button.delete{ background-color: var(--dark_red); }
.card_delete button.delete:hover{ background-color: var(--light_red); }

/* Cards End ============================================ */

/* Groups End ============================================ */
.groups{
    width: 100%; display: flex; justify-content: center; align-items: flex-start;
}

.groups .groups_table{
    max-width: 1024px;
}
.groups .groups_table table{
    display: block;
}
.groups .groups_table tbody{
    display: grid; grid-template-columns: repeat( auto-fit, minmax(322px, 1fr) );
    gap: 2rem; padding: 2rem;
}
.groups .groups_table tr{
    position: relative; padding: 1rem; padding-left: .5rem; border: 2px solid var(--main_border_color);
    display: flex; flex-direction: column; justify-self: center;
    z-index: 0; background-color: var(--main_background_color);
    box-shadow: var(--main_box_shadow);
}
.groups .groups_table tr:hover{ background-color: var(--main_background_color); }
.groups .groups_table tr::after,.groups .groups_table tr::before{
    content: ''; display: inline-block; position: absolute; background-color: var(--main_background_color);
    border: 2px solid var(--main_border_color); width: 100%; height: 100%;
}
.groups .groups_table tr::after{
    top: .2rem; right: .75rem; z-index: -3;
}
.groups .groups_table tr::before{
    top: .5rem; left: -.25rem; z-index: -2;
}
.groups .groups_table td{
    display: block; padding: 0;
}
.groups .groups_table td[type="+"]{ color: var(--dark_blue); }
.groups .groups_table td[type="-"]{ color: var(--dark_red); }
.groups .groups_table td.actions{
    position: absolute; right: 1rem; top: 1.25rem;
}
.groups .groups_table td.actions > i{
    background-color: var(--default_button_color); box-shadow: var(--main_box_shadow);
}
/* Groups End ============================================ */

/* Groups Statistics ============================================ */
.group_statistics{
    width: 100%;
}
.group_statistics h1{
    width: fit-content;
    font-size: 3rem; color: var(--main_text_color); z-index: 1;
}
.group_statistics h1::after{
    content: ''; display: block; position: relative;
    float: left; margin-inline-start: -2.5%; margin-top: -2.3rem;
    width: 105%; height: 1rem; z-index: -2;
    background-color: var(--light_blue);
    transform: skew(-45deg);
}

.group_statistics .top_info{
    display: flex; justify-content: center; align-items: flex-end;
    min-height: 330px; gap: 3rem; padding: 1rem;
}
.group_statistics .top_info li{
    display: flex; flex-direction: column; justify-content: flex-end; align-items: center;
    padding: 1rem; height: 10rem; position: relative;
    background-color: var(--main_text_color);
}
.group_statistics .top_info li label{
    display: flex; justify-content: center; align-items: center;
    color: var(--main_background_color);
    height: 45px;
}
.group_statistics .top_info li img{
    width: 200px; height: auto; margin-bottom: 1rem;
}
.group_statistics .top_info li b{ font-size: 2rem; }
.group_statistics .top_info li[name="total_gain"] b{ color: var(--light_blue); }
.group_statistics .top_info li[name="total_loss"] b{ color: var(--light_red); }
.group_statistics .top_info li[name="total_transactions"] b{ color: var(--light_yellow); }

.group_statistics .period{}
.group_statistics .period ul{
    display: flex; justify-content: center; align-items: center;
    gap: 2rem;
}
.group_statistics .period li{ cursor: pointer; }
.group_statistics .period li span{
    display: inline-block;
    margin: 2px 0; padding: .1rem 1rem;
}
.group_statistics .period li.selected{
    border: 2px solid var(--main_border_color);
    border-left: 0; border-right: 0; box-shadow: var(--main_box_shadow);
}
.group_statistics .period li.selected span{
    background-color: var(--light_blue); box-shadow: var(--main_box_shadow);
}

.group_statistics .chart{
    width: 100%; min-height: 300px; margin-top: 2rem; letter-spacing: 0 !important;
}
.group_statistics .apexcharts-toolbar{
    position: absolute;
    justify-content: center; align-items: center;
    max-width: initial; padding: initial;
    gap: 1rem; width: 100%;
}
.group_statistics .apexcharts-menu{
    margin-right: -5rem; right: initial;
}
/* Groups Statistics End ============================================ */

@media (min-width: 700px){
    .header .logo{ display: block; }
    .header .theme_switch{ display: flex; }
}

@tailwind components;
@tailwind utilities;