@tailwind base;

:root{
    --main_background_color: #fff;
    --main_text_color: #000;
    --main_border_color: #c4c4c4;
    --main_box_shadow: 0px 20px 20px -15px rgba(0,0,0,.2);

    --defult_button_color: #f5f5f5;
    --secondary_button_color: #3d3d3d;
}

@font-face{ font-family: "Vazir"; src: url('../fonts/Vazir.ttf') format('truetype'); }
@font-face{ font-family: "Roboto"; src: url('../fonts/Roboto-Regular.ttf') format('truetype'); }
@font-face{ font-family: "Times"; src: url('../fonts/Times-New-Roman.ttf') format('truetype'); }

html{
    font-family: 'Vazir','Times';
    outline: 0; color: var(--main_text_color);
}
input,textarea,button,select,body{ outline: 0 !important; letter-spacing: 1px; }
body{
    height: 100vh;
}
a{
    border-bottom: 2px solid var(--main_border_color);
}

#app{
    height: 100%;
}
.main_body{
    display: flex; flex-direction: column; justify-content: flex-start; align-items: center;
    height: 100%; padding: 0 2rem; scroll-behavior: smooth;
    background-color: var(--main_background_color);
}
.main_body .main_content{
    position: relative; width: 100%; height: 100%;
}
.main_body .main_content > div{
    display: flex; flex-direction: column; height: 100%;
}

.btn{
    cursor: pointer; transition: all .3s; box-shadow: 0px 0px 0px white;
}
.btn:hover,.btn:focus{ box-shadow: var(--main_box_shadow); }

input{
    border: 2px solid var(--main_text_color);
    display: block; width: 100%;
    padding: .5rem; margin-bottom: 1rem;
}
input:invalid{ border: 2px solid red; }

/* Header ============================================ */
.header{
    display: flex; flex-direction: row; justify-content: center; align-items: center;
    width: 100%; height: 100px; padding: 3.5rem 0;
    position: relative;
    border-bottom: 2px solid var(--main_border_color);
}

.header .left_side{
    margin-left: 0; margin-right: auto;
}
.header .left_side .date{
    display: flex; flex-direction: row; justify-content: center; align-items: center;
}
.header .left_side .date span{
    display: flex; flex-direction: column; justify-content: left; align-items: left;
}
.header .left_side .date span:nth-child(2){
    margin-top: -5px;
}
.header .left_side .date b{
    font-weight: normal;
}
.header .left_side .date span:nth-child(2) b{ height: 20px; }
.header .left_side .date .day_number{
    font-size: 4rem;
}
.header .left_side .date .day_name{}
.header .left_side .date .month{}
.header .left_side .date .year{}

.header .logo{
    position: absolute; display: none;
}
.header .logo h2{
    font-size: 3rem; font-weight: bold;
    margin: auto; border: 2px solid var(--main_border_color);
    border-left: 0; border-right: 0;
}

.header .theme_switch{
    display: none; justify-content: center; align-items: center;
    position: absolute; right: calc(50% - 190px);
    width: 2rem; height: 2rem;
    background-color: var(--secondary_button_color);
    box-shadow: 0px 0px 0px 2px #fff, 0px 0px 0px 4px var(--main_border_color);
    border-radius: 50%;
}
.header .theme_switch i{
    color: var(--main_border_color);
}

.header .right_side{
    margin-left: auto; margin-right: 0;
}
.header .right_side a{}

/* Header End ============================================ */

/* Footer ============================================ */
.footer{}
/* Footer End ============================================ */

/* Login ============================================ */
.login{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    padding: 1.5rem; margin: auto;
    width: 100%; max-width: 400px; border: 2px solid var(--defult_button_color);
}

.login h1{
    font-size: 2.5rem; width: 100%;
    margin-bottom: 1.5rem;
}
.login button{
    width: 100%; padding: .5rem; font-weight: bold;
    display: flex; justify-content: center; align-items: center;
    background-color: var(--defult_button_color);
}
.login button img{ width: 20px; margin: 0 .5rem; }

.login .spacer{
    display: flex; justify-content: space-between; align-items: center;
    width: 100%; margin: 1.5rem 0;
}
.login .spacer::after,.login .spacer::before{
    content: ""; display: inline-block; opacity: .5;
    width: 40%; height: 2px; background-color: var(--main_border_color);
}

.login form{
    width: 100%;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.login form input{}
.login form button{
    background-color: #ccf9ff;
}
/* Login End ============================================ */

@media (min-width: 700px){
    .header .logo{ display: block; }
    .header .theme_switch{ display: flex; }
}

@tailwind components;
@tailwind utilities;